[defaults]
inventory = inventory/
host_key_checking = accept-new
retry_files_enabled = false
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent

[ssh_connection]
pipelining = true
